<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Szybki Test">
        <meta name="author" content="Jacek Stasiak, Radosław Pluta, Lukasz Klimkiewicz">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.ico') }}">
        <title>Szybki test</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        {% block top_scripts %} {% endblock %}

        <link href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='css/fonts.css') }}" rel="stylesheet">
        {% block styles %} {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
            <div class="container">
                <img class="mr-4" style="height: 50px;" src="{{ url_for('static',filename='images/tick_white.png') }}" alt="">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">SZYBKI TEST</a>
                <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        {% block menu %} {% endblock %}
                    </ul>
                </div>
            </div>
        </nav>

        {% include 'parts/flash.html' %}

        {% block content %} {% endblock %}

        {% block footer %} {% endblock %}

        {% block copyright %} {% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        {% block bottom_scripts %} {% endblock %}
    </body>
</html>