{% extends "basic.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static',filename='css/manage-styles.css') }}" rel="stylesheet">
{% endblock %}

{% macro render_pending_term(term) -%}
    <tr>
        <td>{{ term.name }}</td>
        <td>{{ moment(term.creation_date).format('LL h:mm') }}</td>
        <td>{{ term.code }}</td>
        <td>
            <button class="btn btn-primary mr-1" data-toggle="tooltip" data-placement="top" title="Aktywuj termin"><i class="fas fa-forward"></i></button>
            <button class="btn btn-primary btn-danger" data-toggle="tooltip" data-placement="top" title="Usuń termin"><i class="fas fa-trash-alt"></i></button>
        </td>
    </tr>
{%- endmacro %}

{% macro render_active_term(term) -%}
    <tr>
        <td>{{ term.name }}</td>
        <td>{{ moment(term.creation_date).format('LL h:mm') }}</td>
        <td>{{ term.code }}</td>
        <td>{{ term.answers|length }}</td>
        <td>
            <button class="btn btn-primary mr-1" data-toggle="tooltip" data-placement="top" title="Zakończ termin"><i class="fas fa-stop"></i></button>
        </td>
    </tr>
{%- endmacro %}

{% macro render_finished_term(term) -%}
    <tr>
        <td>{{ term.name }}</td>
        <td>{{ moment(term.creation_date).format('LL h:mm') }}</td>
        <td>{{ term.get_reviewed_answers_count() }} / {{ term.answers|length }}</td>
        <td>
            <button class="btn btn-primary mr-1" data-toggle="tooltip" data-placement="top" title="Oceń odpowiedzi"><i class="fas fa-check"></i></button>
            <button class="btn btn-primary mr-1" data-toggle="tooltip" data-placement="top" title="Przejrzyj odpowiedzi"><i class="fas fa-eye"></i></button>
            <button class="btn btn-primary btn-danger" data-toggle="tooltip" data-placement="top" title="Usuń termin"><i class="fas fa-trash-alt"></i></button>
        </td>
    </tr>
{%- endmacro %}

{% block content %}
<section class="page-section masthead bg-primary text-white text-center">
    <!-- File grid section -->
    <div class="file_manager">
        <div class="container">

            <!-- Title & Divider section -->
            <h1 class="masthead-heading text-center text-uppercase mb-0">{{ test.title }}</h1>

            <!-- Test stats section -->
            <div class="stats">
                <div class="icon" data-toggle="tooltip" data-placement="top" title="Pytania wielokrotnego wyboru">
                    <i class="fas fa-tasks fa-2x text-secondary"></i>
                    <p class="masthead-subheading font-weight-light mb-0">{{ test.get_questions_count()[1] }}</p>
                </div>
                <div class="icon" data-toggle="tooltip" data-placement="top" title="Pytania jednokrotnego wyboru">
                    <i class="fas fa-list-ul fa-2x text-secondary"></i>
                    <p class="masthead-subheading font-weight-light mb-0">{{ test.get_questions_count()[0] }}</p>
                </div>
                <div class="icon" data-toggle="tooltip" data-placement="top" title="Pytania otwarte">
                    <i class="fas fa-edit fa-2x text-secondary"></i>
                    <p class="masthead-subheading font-weight-light mb-0">{{ test.get_questions_count()[2] }}</p>
                </div>
            </div>

            <!-- Main button section -->
            <div class="button-bar row justify-content-center">
                <a href="{{ url_for('export_test', test_id=test.id) }}"><button class="btn btn-secondary"><i class="fas fa-file-export"></i> Eksportuj test</button></a>
                <a href="{{ url_for('add_term', test_id=test.id) }}"><button class="btn btn-secondary"><i class="fas fa-plus-circle"></i> Dodaj termin</button></a>
                <a href="{{ url_for('delete_test', test_id=test.id) }}"><button class="btn btn-danger"><i class="fas fa-trash-alt"></i> Usuń test</button></a>
            </div>

        </div>
    </div>
</section>

<div class="page-section">

    <!-- Table with pending terms section -->
    <h3 class="masthead-subheading text-center text-uppercase mt-4 mb-3">Oczekujące terminy</h3>
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Nazwa terminu</th>
                <th>Data stworzenia</th>
                <th>Kod</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            {% for term in test.get_pending_terms() %}
                {{ render_pending_term(term) }}
            {% endfor %}
            {% if not test.get_pending_terms() %}<tr><td colspan="4">Brak</td></tr>{% endif %}
        </tbody>
    </table>

    <!-- Table with active terms section -->
    <h3 class="masthead-subheading text-center text-uppercase mt-5 mb-3">Aktywne terminy</h3>
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Nazwa terminu</th>
                <th>Data stworzenia</th>
                <th>Kod</th>
                <th>Liczba odpowiedzi</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            {% for term in test.get_active_terms() %}
                {{ render_active_term(term) }}
            {% endfor %}
            {% if not test.get_active_terms() %}<tr><td colspan="5">Brak</td></tr>{% endif %}
        </tbody>
    </table>

    <!-- Table with ended terms section -->
    <h3 class="masthead-subheading text-center text-uppercase mt-5 mb-3">Zakończone terminy</h3>
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Nazwa terminu</th>
                <th>Data stworzenia</th>
                <th>Sprawdzone prace</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            {% for term in test.get_finished_terms() %}
                {{ render_finished_term(term) }}
            {% endfor %}
            {% if not test.get_finished_terms() %}<tr><td colspan="4">Brak</td></tr>{% endif %}
        </tbody>
    </table>

</div>
{% endblock %}