{% extends "standard.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static',filename='css/index-styles.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <img class="masthead-avatar mb-5" src="{{ url_for('static',filename='images/tick_white.png') }}" alt="">

        <!-- Heading-->
        <h1 class="masthead-heading mb-0">SZYBKI TEST</h1>

        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <form action="" method="post">
            <input type="number" size="8" name="code" placeholder="12345" id="test-code" autocomplete="off">
            <input type="submit" class="bg-secondary text-white" value="Potwierdź" id="confirm-button">
        </form>

        <!-- Masthead Subheading-->
        <p class="pre-wrap masthead-subheading font-weight-light mb-0 mt-3">Podaj kod testu</p>
    </div>
</section>

<section class="page-section portfolio">
    <div class="container">
        <!-- Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block text-uppercase">Jak to działa?</h2>
        </div>

        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Content -->
        <div class="row justify-content-center text-center">
            <div class="col-sm-12 col-md-6">
                <img id="student-image" class="mb-5 img-fluid" src="{{ url_for('static',filename='images/student.png') }}" alt="">
                <h3 class="page-section-heading text-secondary mb-0 d-inline-block text-uppercase mb-3">Dla ucznia</h3>
                <p class="text-justify">Z punktu widzenia ucznia napisanie testu jest zupełnie proste. Wystarczy, że w polu powyżej wpisze on <b>kod testu</b>, który został przekazany mu przez nauczyciela. Uczniowi wyświetlą się informację dotyczące tego co go czeka: ilość poszczególnych pytań oraz czas na odpowiedź.</p>
                <p class="text-justify">W trakcie testu uczeń śledzi na bieżąco czas pozostały do końca i może spobodnie wracać do pytań poprzednich. Gdy uczeń zakończy lub minie czas, to zostaje mu wyświetlona informacja o poprawności pytań zamkniętych, natomiast pytania otwarte muszą zostać sprawdzone manualnie przez nauczyciela. Gdy nauczyciel sprawdzi jego pracę, to zostaje wysłane na adres ucznia kompletne podsumowanie testu.</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <img id="teacher-image" class="mb-5" src="{{ url_for('static',filename='images/teacher.png') }}" alt="">
                <h3 class="page-section-heading text-secondary mb-0 d-inline-block text-uppercase mb-3">Dla nauczyciela</h3>
                <p class="text-justify">Aby tworzyć testy nauczyciel musi się zarejestrować, a następnie zalogować na swoje konto. Dzięki temu zyskuje dostęp do swojego <b>panelu zarządzania testami</b>. Może w nim stworzyć i zapisać nowy test lub uruchomić test już stworzony. Gdy to zrobi to dostaje kod, który następnie przekazuje swoim uczniom.</p>
                <p class="text-justify">O wyznaczonej godzinie test się rozpoczyna, uczniowie piszą testy, a wszystkie odpowiedzi trafiają na konto nauczyciela. W dowolnej chwili nauczyciel może skorzystać z <b>panelu oceny testów</b>, aby przyznać punktację za pytania otwarte, jeżeli takie występowały. Gdy to zrobi, to informacja o uzyskanej liczbie punktów wraz z oceną końcową jest wysyłana do ucznia.</p>
            </div>

            <h2 class="page-section-heading text-secondary mb-0 d-inline-block text-uppercase mt-5">To takie proste :)</h2>
        </div>
    </div>
</section>
{% endblock %}