{% extends "basic.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static',filename='css/manage-styles.css') }}" rel="stylesheet">
{% endblock %}

{% macro render_test_tile(test) -%}
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card">
        <div class="file">
            <a href="{{ url_for('details', test_id=test.id) }}">
                <div class="hover">
                    <button type="button" class="btn btn-icon btn-danger">
                        <i class="fa fa-pen"></i>
                    </button>
                </div>
                <div class="icon">
                    <i class="fa fa-file fa-8x text-secondary"></i>
                </div>
                <div class="file-name">
                    <p class="m-b-5 text-muted">{{ test.title }}</p>
                    <small>Liczba Pytań: {{ test.questions|length }}<span class="date text-muted">{{ moment(test.creation_date).fromNow() }}</span></small>
                </div>
            </a>
        </div>
    </div>
</div>
{%- endmacro %}

{% block content %}
<section class="page-section masthead bg-primary text-white text-center">
    <!-- File grid section -->
    <div class="file_manager">
        <div class="container">
            <!-- Title & Divider section -->
            <h1 class="masthead-heading text-center text-uppercase mb-0">Twoje testy</h1>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Main button section -->
            <div class="button-bar row justify-content-center">
                <button class="btn btn-secondary"><i class="fas fa-download"></i> Importuj test</button>
                <button class="btn btn-secondary"><i class="fas fa-plus-circle"></i> Stwórz nowy test</button>
            </div>
        </div>
    </div>
</section>

<div class="page-section">
    <!-- File grid section -->
    <div class="file_manager">
        <div class="container">
            <!-- Files grid section -->
            <div class="row clearfix">
                {% for test in tests %}
                    {{ render_test_tile(test) }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}