{% extends "basic.html" %}

{% block footer %}
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4 class="mb-4">Kontakt</h4>
                <p class="pre-wrap lead mb-0">Jeżeli masz jakieś uwagi lub zastrzeżenia to chętnie się o nich dowiemy</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">Sprawdź nas na Facebooku</h4>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">Wsparcie</h4>
                <p class="pre-wrap lead mb-0">Jeżeli podoba ci się aplikacja i chciałbyś nas wesprzeć niewielką kwotą, możesz to tutaj zrobić</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block copyright %}
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © 2021</small></div>
</section>
{% endblock %}