{% extends "standard.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static',filename='css/index-styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/test-styles.css') }}" rel="stylesheet">
{% endblock %}

{% block top_scripts %} 
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static',filename='edit_script.js') }}"></script>
{% endblock %}

{% block content %}
<section class="container my-5 border">
	<!-- Test title -->
	<div class="row my-3 test_title">
		<div class="col-sm-12">
			<form class="d-flex flex-row" action="/edit/{{ test_params.id }}/title" method="post">
				<input class="form-control mr-2" style="width: 300px" type="text" name="test_title" placeholder="Tytuł testu" id="test_title" value="{{ test_params.title }}">
				<!-- <input class="btn btn-primary " type="submit" value="Zapisz tytuł"> -->
				<h3>Autor: {{ test_params.author }}</h3>
			</form>
		</div>
	</div>

	<!-- Question list -->
	<div class="row">
		<div class="col-md-12 d-flex flex-row">
			<ul class="pagination flex-fill">
				{% for i in range(number_of_questions) %}
						<li class="page-item flex-fill {{ 'active' if i == current_index - 1}}">
							<a class="page-link" href="#" onclick="post_all_inputs('/edit/{{ test_params.id }}/{{ i + 1}}')">{{ i + 1 }} </a>
							<button class="close" onclick="post_all_inputs('/edit/{{ test_params.id }}/-1/remove_question/{{ i + 1}}'); return false;">&times;</button>
						</li>
				{% endfor %}
				<li class="page-item flex-fill">
					<div class="dropdown">
						<a class="page-link text-center" href="#" data-toggle="dropdown">Dodaj pytanie</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/edit/{{ test_params.id }}/-1/add_question/0">Wielokrotny wybór</a>
							<a class="dropdown-item" href="/edit/{{ test_params.id }}/-1/add_question/1">Jednokrotny wybór</a>
							<a class="dropdown-item" href="/edit/{{ test_params.id }}/-1/add_question/2">Otwarta odpowiedź</a>
						</div>
					</div>
				</li>
			</ul>
			<a class="btn btn-primary align-self-baseline mx-3" href="#" onclick="post_all_inputs('/edit/{{ test_params.id }}/{{ current_index }}')">Zapisz</a>
		</div>
	</div> 

	<!-- Question score -->
	<div class="row">
		<h3 class="col-sm-6">Pytanie {{ current_index }}</h3>
		<div class="col-sm-6 d-flex">
			<h3 class="text-right">Punkty:</h3>
			<input class="form-control inline" type="text" name="points" id="test_points" value="{{ question.points }}" >
		</div>
	</div>

	<!-- Question content -->
	<div class="row">
		<!-- Question part -->

		<div class="col-sm-8 pb-3">
			<textarea class="form-control my-3" rows="4" placeholder="Treść pytania" id="test_question">{{ question.question }}</textarea>
			<form onsubmit="return false;">
				<input type="hidden" name="question_type" value="{{ question.type }}">
				<input type="hidden" name="question_index" value="{{ current_index }}">
				{% if question.type == 0 or question.type == 1 %}
					{% for anwser in question.data['all'] %}
						<!-- <div class="form-check"> -->
								<div class="input-group mb-3">
									<div class="input-group-prepend">
									  <div class="input-group-text">
										<input type="{{ 'checkbox' if question.type == 0 else 'radio' }}" name="answer" value={{ loop.index - 1}} {{'checked' if question.data['correct'] and ((question.type == 0 and (loop.index - 1) in question.data['correct']) or (question.type == 1 and loop.index - 1 == question.data['correct'])) }}> 
									  </div>
									</div>
									<input type="text" class="form-control" name="anwser_text" placeholder="Odpowiedź" value="{{ anwser }}">
									<button class="btn btn-danger" onclick="remove_anwser(this)">X</button>
								  </div>
						<!--{{ loop.index + 1 }} </div> -->
					{% endfor %}
					<button class="btn btn-primary" onclick="add_anwser({{ question.type }})">Dodaj odpowiedź</button>
				{% endif %}
			</form>
		</div>

		<!-- Image part -->
		<div class="col-sm-4">
			<div id="images" class="carousel slide" data-interval="false">
				<!-- Indicators -->
				<ul class="carousel-indicators">
					{% if question.image %}
						{% for image in question.image %}
							<li data-target="#images" data-slide-to="{{ loop.index - 1 }}" {{ 'class=active' if loop.index == 1 }}></li>
						{% endfor %}
					{% else %}
						<div class="carousel-item">
							<li data-target="#images" data-slide-to="0" class="active"></li>
						</div>
					{% endif %}
					
				</ul>

				<div class="carousel-inner">
				{% if question.image %}
					{% for image in question.image %}
						<div class="carousel-item text-right {{ 'active' if loop.index == 1 }}">
							<button class="btn btn-danger">Usuń obraz</button>
							<img class="img-fluid" src="{{ url_for('static',filename=('images/test_images/' + image)) }}" alt="{{ image }}">
						</div>
					{% endfor %}
				{% else %}
					<div class="carousel-item active">
						<img class="img-fluid" src="{{ url_for('static',filename=('images/test_images/placeholder.png')) }}" alt="No images">
					</div>
				{% endif %}
			  </div>
			   <!-- Left and right controls -->
				<a class="carousel-control-prev" href="#images" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a class="carousel-control-next" href="#images" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
			</div>
			<a class="btn btn-primary" href="#">Dodaj obraz</a>
		</div>
	</div>
</section>

<!-- Bottom controls -->
<section class="container bg-light border py-2 mb-5">
	<div class="row">
		<div class="col-sm-4 text-left">javascript time</div>
		<div class="col-sm-4 text-center"> 
			<div class="btn-group">
				<a class="btn btn-primary {{ 'disabled' if current_index == 1 }}" href="#" onclick="post_all_inputs('/edit/{{ test_params.id }}/{{ current_index - 1}}')">Poprzednie</a>
				<a class="btn btn-dark disabled">{{ current_index }} / {{ number_of_questions }}</a	>
				<a class="btn btn-primary {{ 'disabled' if current_index == number_of_questions }}" href="#"  onclick="post_all_inputs('/edit/{{ test_params.id }}/{{ current_index + 1}}')">Następne</a>
			</div>
			
		</div>
		<div class="col-sm-4 text-right">
			<a class="btn btn-primary" href="#">Zakończ</a>
			<a class="btn btn-primary" href="#">help</a>
		</div>
	</div>
</section>
{% endblock %}

{% block footer %}
{% endblock %}