{% extends "standard.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static',filename='css/index-styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/test-styles.css') }}" rel="stylesheet">
{% endblock %}

{% macro submit_form_to(action) %}
document.forms['anwser'].action = '{{action}}'; document.forms['anwser'].submit();
{% endmacro %}

{% block content %}
<section class="container mb-5">
	<!-- Test title -->
	<div class="test_title">
		<h1>{{ test_params.title }}</h1>
		<h2>{{ test_params.author }}</h2>
	</div>

	<!-- Question list -->
	<ul class="pagination d-flex">
		{% for i in range(test_params.questions|length) %}
				<li class="page-item flex-fill {{ 'active' if i == current_index - 1}}">
					<a class="page-link text-center" href="#" onclick="{{ submit_form_to('/test/' ~ (i + 1)) }}">{{ i + 1 }}</a>
				</li>
		{% endfor %}
		<li class="page-item flex-fill"><a class="page-link text-center" href="#">Podsumowanie</a></li>
	</ul>

	<!-- Question score -->
	<div class="row">
		<h3 class="col-sm-6">Pytanie {{ current_index }}</h3>
		<h3 class="col-sm-6 text-right">Punkty: {{ question.points }}</h3>
	</div>

	<!-- Question content -->
	<div class="row">
		<!-- Question part -->

		<div class="{{ 'col-sm-8' if question.image else 'col' }}">
			<p>{{ question.question }}</p>
			<!-- <form name="anwser" onsubmit="return false;"> -->
			<form name="anwser" action="/test/1" method="post">
				<input type="hidden" name="question_type" value="{{ question.type }}">
				<input type="hidden" name="question_index" value="{{ current_index }}">
				{% if question.type == 0 or question.type == 1 %}
					{% for anwser in question.data['all'] %}
						<div class="form-check">
							<label class="form-check-label">
								<input type="{{ 'checkbox' if question.type == 0 else 'radio' }}" class="form-check-input" name="anwser" value="{{ loop.index }}" {{'checked' if anwsers and ((question.type == 0 and loop.index in anwsers) or (question.type == 1 and loop.index == anwsers)) }}> {{ anwser }}
							</label>
						</div>
					{% endfor %}
				{% else %}
					<div class="form-group">
						<textarea class="form-control" rows="5" name="anwser">{{ anwsers if anwsers }}</textarea>
					</div>
				{% endif %}
			</form>
		</div>

		<!-- Image part -->
		{% if question.image %}
		<div class="col-sm-4">
			<div id="images" class="carousel slide" data-interval="false">
				<!-- Indicators -->
				<ul class="carousel-indicators">
					{% for image in question.image %}
						<li data-target="#images" data-slide-to="{{ loop.index - 1 }}" {{ 'class=active' if loop.index == 1 }}></li>
					{% endfor %}
				</ul>

				<div class="carousel-inner">
				{% for image in question.image %}
					<div class="carousel-item {{ 'active' if loop.index == 1 }}">
						<img class="img-fluid" src="{{ url_for('static',filename=('images/test_images/' + image)) }}" alt="??">
					</div>
				{% endfor %}
			  </div>
			   <!-- Left and right controls -->
				<a class="carousel-control-prev" href="#images" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a class="carousel-control-next" href="#images" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
			</div>
		</div>
		{% endif %}
	</div>
</section>

<!-- Bottom controls -->
<section class="container bg-light border py-2 mb-5">
	<div class="row">
		<div class="col-sm-4 text-left">javascript time</div>
		<div class="col-sm-4 text-center"> 
			<div class="btn-group">
				<!-- <a class="btn btn-primary {{ 'disabled' if current_index == 1 }}" href="/test/{{ current_index - 1 }}">Poprzednie</a> -->
				<input type="submit" class="btn btn-primary {{ 'disabled' if current_index == 1 }}" value="Poprzednie" onclick="{{ submit_form_to('/test/' ~ (current_index - 1)) }}">
				<a class="btn btn-dark disabled">{{ current_index }} / {{ test_params.number_of_questions }}</a	>
				<input type="submit" class="btn btn-primary {{ 'disabled' if current_index == test_params.number_of_questions }}" value="Następne" onclick="{{ submit_form_to('/test/' ~ (current_index + 1)) }}">
				<!-- <a class="btn btn-primary {{ 'disabled' if current_index == test_params.number_of_questions }}" href="/test/{{ current_index + 1 }}">Następne</a> -->
			</div>
			
		</div>
		<div class="col-sm-4 text-right">
			<a class="btn btn-primary" href="/test/0">Zakończ</a>
			<a class="btn btn-primary" href="#">help</a>
		</div>
	</div>
</section>
{% endblock %}

{% block footer %}
{% endblock %}