{% extends "standard.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static',filename='css/index-styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/test-styles.css') }}" rel="stylesheet">
{% endblock %}

{% block menu %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-uppercase" href="#about">Logowanie</a></li>
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-uppercase" href="#contact">Kontakt</a></li>
{% endblock %}

{% block content %}
<section class="container mb-5">
	<!-- Test title -->
	<div class="row border">
		<div class="col mt-3">
			<h3>{{ test_params.title }} | {{ test_params.date }} | {{ test_params.subject }}</h3>
		</div>
	</div>

	<div class="row py-2">
		<!-- Navigation -->
		<div class="col-sm-4">
			<div class="btn-group">
				<a class="btn btn-primary" href="#">&LeftArrow;</a>
				<a class="btn btn-primary disabled" href="#"> 3 / 14</a>
				<a class="btn btn-primary" href="#">&RightArrow;</a>
			</div>
		</div>

		<!-- Student info -->
		<div class="col-sm-4 d-flex justify-content-center">
			<table class="table-sm ">
				<tr>
					<td><b>Email: </b></td>
					<td>test@gmail.com</td>
				</tr>
				<tr>
					<td><b>Nazwisko: </b></td>
					<td>Dżan Kowalski</td>
				</tr>
			</table>
		</div>

		<!-- Exit button -->
		<div class="col-sm-4 d-flex justify-content-end">
			<a class="btn btn-primary align-self-baseline" href="#">Zakończ sprawdzanie</a>
		</div>
	</div>

	<!-- Anwsers -->
	<div class="row border py-2">
		<div class="col-sm-12">
			<h3>Odpowiedzi zdającego</h3>
		</div>
		<div class="col-sm-12">
			<table class="table">
				<tr>
					<th>Nr</th>
					<th>Odpowiedź zdającego</th>
					<th>Przyznane punkty</th>
				</tr>
				{% for anwser in test_params.anwsers %}
					<tr>
						<td>{{ anwser.index }}</td>
						<td>
							<p class="m-0">Pytanie: {{ anwser.question }}</p>
							<p class="m-0">Odpowiedź: <b>{{ anwser.anwser }}</b></p>
						</td>
						<td class=" w-25">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Liczba punktów">
								<div class="input-group-append">
								  <span class="input-group-text"> / {{ anwser.points }}</span>
								</div>
							  </div>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<!-- Grade -->
	<div class="row mt-2 justify-content-center">
		<div class="col-sm-1 text-right">
			<span class="mr-2 align-middle">Ocena</span>
		</div>
		<div class="col-sm-2">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Liczba punktów" value="{{ test_params.grade }}">
				<div class="input-group-append">
				  <span class="input-group-text"> / 5</span>
				</div>
			  </div>
		</div>
	</div>

</section>
{% endblock %}

{% block footer %}
{% endblock %}