{% extends "standard.html" %}

{% macro render_answer(answer) -%}
	{% if answer.question.type == 0 %}
		{{ render_single_choice_answer(answer) }}
	{% elif answer.question.type == 1 %}
		{{ render_multiple_choice_answer(answer) }}
	{% elif answer.question.type == 2 %}
		{{ render_open_answer(answer) }}
	{% endif %}
{%- endmacro %}

{% macro render_single_choice_answer(answer) -%}
	{{ answer.question.data['all'][answer.data] }}
{%- endmacro %}

{% macro render_multiple_choice_answer(answer) -%}
	<ul>
	{% for index in answer.data %}
		<li>{{ answer.question.data['all'][index] }}</li>
	{% endfor %}
	</ul>
{%- endmacro %}

{% macro render_open_answer(answer) -%}
	{{ answer.data }}
{%- endmacro %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static',filename='css/index-styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/test-styles.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="container mb-5">
	<form action="" method="post" autocomplete="off">
		<!-- Test title -->
		<div class="row border p-2">
			<div class="col mt-3">
				<h3>{{ answer.term.test.title }} | {{ answer.term.time.strftime('%m/%d/%Y %H:%M') }}</h3>
			</div>
		</div>

		<div class="row align-items-center py-4">
			<!-- Navigation -->
			<div class="col-sm-12 col-md-4 text-center">
				<div class="btn-group">
					<a class="btn btn-primary {% if answer_nr==1 %}disabled{% endif %}" href="{{ url_for('quiz_review', term_id=term_id, answer_nr=answer_nr-1) }}">&LeftArrow;</a>
					<a class="btn btn-primary"> {{ answer_nr }} / {{ answer.term.answers|length }}</a>
					<a class="btn btn-primary {% if answer_nr==answer.term.answers|length %}disabled{% endif %}" href="{{ url_for('quiz_review', term_id=term_id, answer_nr=answer_nr+1) }}">&RightArrow;</a>
				</div>
			</div>

			<!-- Student info -->
			<div class="col-sm-12 col-md-4 text-center">
				<table class="table-sm text-left d-inline-block">
					<tr>
						<td><b>Email: </b></td>
						<td>{{ answer.email }}</td>
					</tr>
					<tr>
						<td><b>Nazwisko: </b></td>
						<td>{{ answer.full_name }}</td>
					</tr>
				</table>
			</div>

			<!-- Exit button -->
			<div class="col-sm-12 col-md-4 text-center">
				<input type="submit" class="btn btn-primary align-self-baseline" value="Zakończ sprawdzanie">
			</div>

		</div>

		<!-- Anwsers -->
		<ol class="list-group list-group-numbered">
			<li class="row list-group-item d-flex justify-content-between align-items-start">
				<div class="col-8"><h4>Pytania i odpowiedźi</h4></div>
				<div class="col-4"><h4>Punktacja</h4></div>
			</li>
			{% for answer in answer.answers %}
			<li class="row align-items-center list-group-item d-flex justify-content-between align-items-start">
				<div class="col-sm-12 col-md-8">
					<p>{{ answer.question.nr }}. {{ answer.question.question }}</p>
					<p><b>Odpowiedź:</b> {{ render_answer(answer) }}</p>
				</div>
				<div class="col-sm-12 col-md-4">
					<div class="input-group">
						<input name="{{answer.question.nr}}" type="text" class="form-control" placeholder="Liczba punktów" autocomplete="off">
						<div class="input-group-append">
						  <span class="input-group-text"> / {{ answer.question.points }}</span>
						</div>
					</div>
				</div>
			</li>
			{% endfor %}
		</ol>

		<!-- Grade -->
		<div class="row mt-3 justify-content-center align-items-center">
			<div class="col-12 col-md-1">
				<span class="">Ocena</span>
			</div>
			<div class="col-12 col-md-4">
				<div class="input-group">
					<input name="grade" type="text" class="form-control" placeholder="Liczba punktów" autocomplete="off">
					<div class="input-group-append">
					  <span class="input-group-text"> / 5</span>
					</div>
				  </div>
			</div>
		</div>
	</form>
</section>
{% endblock %}

{% block footer %}
{% endblock %}