{% extends "standard.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static',filename='css/index-styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/test-styles.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="container mb-5">
	<!-- Test title -->
	<div class="row border p-2">
		<div class="col mt-3">
			<h3>{{ test_params.title }} | {{ test_params.date }} | {{ test_params.subject }}</h3>
		</div>
	</div>

	<div class="row align-items-center py-4">
		<!-- Navigation -->
		<div class="col-sm-12 col-md-4 text-center">
			<div class="btn-group">
				<a class="btn btn-primary" href="#">&LeftArrow;</a>
				<a class="btn btn-primary disabled" href="#"> 3 / 14</a>
				<a class="btn btn-primary" href="#">&RightArrow;</a>
			</div>
		</div>

		<!-- Student info -->
		<div class="col-sm-12 col-md-4 text-center">
			<table class="table-sm text-left d-inline-block">
				<tr>
					<td><b>Email: </b></td>
					<td>test@gmail.com</td>
				</tr>
				<tr>
					<td><b>Nazwisko: </b></td>
					<td>Dżan Kowalski</td>
				</tr>
			</table>
		</div>

		<!-- Exit button -->
		<div class="col-sm-12 col-md-4 text-center">
			<a class="btn btn-primary align-self-baseline" href="#">Zakończ sprawdzanie</a>
		</div>

	</div>

	<!-- Anwsers -->
	<ol class="list-group list-group-numbered">
		<li class="row list-group-item d-flex justify-content-between align-items-start">
			<div class="col-8"><h4>Pytania i odpowiedźi</h4></div>
			<div class="col-4"><h4>Punktacja</h4></div>
	  	</li>
		{% for anwser in test_params.anwsers %}
		<li class="row align-items-center list-group-item d-flex justify-content-between align-items-start">
			<div class="col-sm-12 col-md-8">
				<p>{{ anwser.index }}. {{ anwser.question }}</p>
				<p>Odpowiedź: {{ anwser.anwser }}</p>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Liczba punktów">
					<div class="input-group-append">
					  <span class="input-group-text"> / {{ anwser.points }}</span>
					</div>
				</div>
			</div>
	  	</li>
		{% endfor %}
	</ol>

	<!-- Grade -->
	<div class="row mt-3 justify-content-center align-items-center">
		<div class="col-12 col-md-1">
			<span class="">Ocena</span>
		</div>
		<div class="col-12 col-md-4">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Liczba punktów" value="{{ test_params.grade }}">
				<div class="input-group-append">
				  <span class="input-group-text"> / 5</span>
				</div>
			  </div>
		</div>
	</div>

</section>
{% endblock %}

{% block footer %}
{% endblock %}